.c-p{
    width: 700px;
    text-align: left;
}
img{
    height: 325px;
    width: 225px;
    display: inline-block;
}
p{
    color:rgb(200, 200, 200);
    font-size: 20px;
}
b{
    color: rgb(129, 129, 129); 
} 
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(70, 70, 70);
    
}
.l-p{
    display: none;
}
.border-p{
    background-color: rgb(55, 55, 55);
    border: solid rgb(30, 30, 30) 30px ;
    border-radius: 50px;
    width:45%
}
@media (orientation:portrait) {
    
    .header , .footer{
        height: 10% ;
        background-color: rgb(100, 100, 100);
        
    }
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        background-color: rgb(70, 70, 70);
    }
    h1{
        font-size: 70px;
        color: rgb(80, 80, 80);
    }
    img{
        height: 150px;
        width: 100px;
        display: inline-block;
    }
    p{
        color:rgb(200, 200, 200);
        font-size: 15px;
    }
    b{
        color: rgb(129, 129, 129); 
    } 
    .p-o{
        color: rgb(170, 170, 170);
    }
    .child-h{
        background-color: rgb(46, 46, 46);
        border: solid rgb(46, 46, 46) -2px;
        border-radius: 50px;
        padding: 5px;
        margin: 15px;
        width: 88%;
        
    }
    .child-g{
        background-color: rgb(60, 60, 60);
        
    }
    .child-p{
        color:rgb(10, 10, 10)
    }
    .c-p{
        width: 60%;
    }
    .l-p{ 
        display: inline;
        }
    .c-p{
        display: none;
        } 
    .border-p{
            background-color: rgb(55, 55, 55);
            border: solid rgb(30, 30, 30) 24px ;
            width:76%;
        }
}
