*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(70, 70, 70);
}
h1{
    font-size: 100px;
    color: rgb(150, 150, 150);
}

a{
   text-decoration: none; 
   color: rgb(0, 0, 0);
   font-size: 50px ;
   font-family: Calibri;
}
.header , .footer{
   
    height: 10% ;
    background-color: rgb(55, 55, 55);
}
.main{
    
    height: 80% ;
    background-color: rgb(70, 70, 70);
}
img{
    height: 400px;
    width: 300px;
    display: inline-block;
}
p{
    color:rgb(200, 200, 200);
    font-size: 20px;
}
.p-o{
    color: rgb(170, 170, 170);
}
b{
    color: rgb(129, 129, 129); 
} 
.child-h{
    background-color: rgb(46, 46, 46);
    padding: 30px;
    margin: 50px;
}
.child-g{
    background-color: rgb(40, 40, 40);
}
.child-p{
    color:rgb(10, 10, 10);
}
h2{
    color: rgb(30, 30, 30);
}
@media (orientation:portrait) {
    .main{
        background-color: rgb(150, 150, 150);
    }
    .header , .footer{
        height: 10% ;
        background-color: rgb(100, 100, 100);

    }
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        background-color: rgb(70, 70, 70);
    }
    h1{
        font-size: 100px;
        color: rgb(80, 80, 80);
    }
    
    a{
       text-decoration: none; 
       color: rgb(0, 0, 0);
       font-size: 50px ;
    }

    img{
        height: 200px;
        width: 150px;
        display: inline-block;
    }
    p{
        color:rgb(200, 200, 200);
        font-size: 20px;
    }
    .p-o{
        color: rgb(170, 170, 170);
    }
    b{
        color: rgb(129, 129, 129); 
    } 
    .child-h{
        background-color: rgb(46, 46, 46);
        padding: 30px;
        margin: 50px;
    }
    .child-g{
        background-color: rgb(60, 60, 60);
    }
    .child-p{
        color:rgb(10, 10, 10);
    }
    h2{
        color: rgb(50, 50, 50);   
    }
    .class-h1{
        font-size: 50px;
        color: rgb(80, 80, 80);
    }
}




