*{
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 100px;
    color: rgb(170, 170, 170);
}
.header , .footer{
   
    height: 10% ;
    background-color: rgb(55, 55, 55);
}
.main{
    
    height: 80% ;
    background-color: rgb(70, 70, 70);
}